:root /* Edit this for config */ {
	--main-bg-color: rgb(255, 255, 255);
	--main-border: 3px solid rgba(0, 0, 0, 0.568);
	--main-border-radius: 6px;
	--main-font: 'San Francisco', sans-serif;
	--main-text-color: rgba(0, 0, 0, 0.9);
	--main-font-size: 39px;
	--main-window-width: 90%;
	--main-window-height: 87%;
	--main-text-align: left;
	--main-padding: 8px;
	--main-font-weight: 500;
	--main-font-weight: 500;
	
	--icon-roundness: 10px;
  }
/* Config END */
